.row-bottom-padded-md {
  padding-bottom: 4em;
}
footer .center {
  text-align: center;
}
.exchangeTable th, .exchangeTable td, .compareTable th, .compareTable td {
  width:25% !important;
}
.bestPrice th, .bestPrice td {
  width:50% !important;
}
.td-column-function-even-example {
  background: red;
}

.td-column-function-odd-example {
  background: none  ;
}
