.row-bottom-padded-md {
  padding-bottom: 4em;
}
footer .center {
  text-align: center;
}
.exchangeTable th, .exchangeTable td, .compareTable th, .compareTable td {
  width:25% !important;
}
.bestPrice th, .bestPrice td {
  width:50% !important;
}
.td-column-function-even-example {
  background: #1abc9c;
  color: #fff;
}

.td-column-function-odd-example {
  background: none;
}

.exchangeTable p {
  background: #1abc9c;
  color: #fff;
  padding: 5px;
}
