.row-bottom-padded-md {
  padding-bottom: 4em;
}
footer .center {
  text-align: center;
}
.exchangeTable th, .exchangeTable td, .compareTable th, .compareTable td {
  width:25% !important;
}
.bestPrice th, .bestPrice td {
  width:50% !important;
}
.td-column-function-best-price {
  background: #1abc9c;
  color: #fff;
}
.compareTable .td-column-function-best-price {
  background: #e77e1e;
  color: #fff;
}
.td-column-function-not-best {
  background: none;
}

.exchangeTable p {
  background: #1abc9c;
  color: #fff;
  padding: 5px;
}
.compareTable p {
  background: #e77e1e;
  color: #fff;
  padding: 5px;
}
